/*
This is a Cascading Style Sheet (CSS).
It describes rules for styling your HTML markup.

To use this file, place the following <link> tag anywhere in the <head> of your HTML file, making sure that the filename after "href" matches the name of your file....

    <head>
        <link rel="stylesheet" href="style.css">
    </head>

Learn more about CSS at https://developer.mozilla.org/en-US/docs/Web/Guide/CSS

When you're done, you can delete all of this grey text, it's just a comment.
*/

/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: bold;
  font-size: 100px;
  text-align: center;
}

.ball {
  text-align: center;
}

.size {
  text-align: center;
}

.test-me {
  font-size: 50px;
  
}

p {
  text-align: center;
  font-size: 50px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.anim{
  -webkit-animation: shake 2s;
  animation: shake 2s;
} 



